.article {
  & header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 240px;
    background-color: var(--color-blue);

    & .header--title {
      display: inline-block;
      font-size: 40px;
      font-weight: bold;
      margin-top: -20px;
      color: var(--color-blue-dark);
    }
  }

  &--content {
    width: 80%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: -80px;
  }

  &--content >>> img {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  &--content >>> h1,
  &--content >>> h2 {
    font-weight: normal;
    color: var(--color-blue);
  }

  &--content >>> h1 {
    margin: 40px 0 0;
    font-size: 44px;
  }

  &--content >>> h2 {
    display: inline-block;
    font-size: 20px;
    margin: 40px 0 16px 0;

    &::before {
      content: '#';
      margin-right: 4px;
    }
  }

  &--content >>> p {
    line-height: 1.5;
    margin-top: 8px;
    color: var(--color-gray);
  }

  &--content >>> .wp-video {
    width: 100% !important;
  }

  &--navigation {
    display: flex;
    font-weight: bold;
    width: 80%;
    max-width: 800px;
    margin: 40px auto 0 auto;

    & a {
      display: block;
      text-align: center;
      padding: 12px 0;
      color: var(--color-blue);
      border: 2px solid var(--color-blue);
      transition: all .3s;

      &:hover {
        color: white;
        background-color: var(--color-blue);
      }
    }

    & .prev,
    & .next {
      flex: 1;
    }

    & .prev {
      & i {
        margin-right: 4px;
      }
    }

    & .next {
      & i {
        margin-left: 4px;
      }
    }

    & .top {
      flex: 2;
      margin: 0 16px;
    }
  }

  @media (max-width: 767px) {
    &--content >>> h1,
    &--content >>> h2,
    &--content >>> h3 {
      margin: 24px 0 16px 0;
    }

    &--content >>> h1 {
      font-size: 32px;
    }

    &--content >>> h2 {
      font-size: 18px;
    }

    &--content >>> video {
      max-width: 100%;
    }

    &--navigation {
      font-size:  12px;

      & .top {
        font-size: 16px;
        margin: 0 4px;
      }
    }
  }
}
