.home {
  & header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 320px;
    background-color: var(--color-blue);

    & h1 {
      text-align: center;
      font-size: 72px;
      color: var(--color-blue-dark);
    }

    & .header--progress {
      position: relative;
      width: 400px;
      height: 20px;
      margin: 0 auto;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;

      &_wrap {
        margin: 40px auto 16px auto;
        position: relative;
      }

      &_balloon {
        position: absolute;
        width: 44px;
        font-size: 12px;
        padding: 6px 0;
        background: #ef187c;
        border-radius: 2px;
        line-height: 1;
        text-align: center;
        color: white;
        opacity: 0;
        top: -10px;
        transition: opacity .3s ease-in-out, top .3s ease-out;
        transition-delay: 1.5s;

        &.active {
          opacity: 1;
          top: -32px;
        }

        &::after {
          position: absolute;
          bottom: -8px;
          left: calc(50% - 4px);
          display: block;
          width: 0;
          height: 0;
          content: '';
          border: 4px solid transparent;
          border-top: 4px solid #ef187c;
        }
      }

      &_current {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 20px;
        background: linear-gradient(45deg, #f0a635, #ef187c);
        transition: width .8s 1s ease-in-out;
      }
    }

    & .header--author {
      text-align: center;
      font-size: 14px;
      margin-top: 16px;
      color: var(--color-blue-dark);

      & a {
        color: white;
      }
    }
  }

  & .posts {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 40px auto 0 auto;
  }

  & .bg {
    background-color: black;
    width: 100px;
    height: 100px;
  }

  & .post {
    position: relative;
    display: block;
    width: 32%;
    margin: 0 2% 2% 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    &--overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-blue);
      mix-blend-mode: multiply;
      transition: all .3s;

      &:hover {
        opacity: 1;
      }
    }

    &--title {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px;
      color: white;
    }
  }

  @media (max-width: 767px) {
    & header {
      height: 64vmin;

      & .header--content {
        width: 100vw;
      }

      & h1 {
        font-size: 12vmin;
      }

      & .header--progress {
        width: 100%;
        height: 16px;

        &_wrap {
          width: 80%;
        }
      }
    }

    & .post {
      width: 100%;
      margin: 0 0 4% 0;

      &--overlay {
        opacity: 1;
        background-color: transparent;
        mix-blend-mode: overlay;
      }

      &--title {
        font-size: 5vmin;
        color: var(--color-black);
      }
    }
  }
}
