.home {
  & header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 320px;
    background-color: var(--color-blue);

    & h1 {
      font-size: 72px;
      color: var(--color-blue-dark);
    }

    & .header--author {
      text-align: center;
      font-size: 14px;
      margin-top: 16px;
      color: var(--color-blue-dark);

      & a {
        color: white;
      }
    }
  }

  & .posts {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 40px auto 0 auto;
  }

  & .bg {
    background-color: black;
    width: 100px;
    height: 100px;
  }

  & .post {
    position: relative;
    display: block;
    width: 32%;
    margin: 0 2% 2% 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    &--overlay {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-blue);
      mix-blend-mode: multiply;
      transition: all .3s;

      &:hover {
        opacity: 1;
      }
    }

    &--title {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 20px;
      color: white;
    }
  }

  @media (max-width: 767px) {
    & header {
      & h1 {
        font-size: 12vmin;
      }
    }

    & .post {
      width: 100%;
      margin: 0 0 4% 0;

      &--overlay {
        opacity: 1;
        background-color: transparent;
        mix-blend-mode: overlay;
      }

      &--title {
        font-size: 5vmin;
        color: var(--color-black);
      }
    }
  }
}
